@import "./fonts.css";
@import "./variables.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    height: 100%;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    display: flex;
}

body {
    font-family: "Heebo", sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--main-font-family);
    color: var(--darc-color);
    font-size: 1.6rem;
    line-height: 2.3rem;
    font-weight: 400;
}

main {
    flex-grow: 1;
}

.container {
    width: 100%;
    max-width: 985px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5rem;
    padding-right: 5rem;
}

.header-container {
    display: flex;
    justify-content: flex-end;
    padding-top: 2.7rem;
    padding-bottom: 2.7rem;
}

.sitenav {
    margin-left: auto;
}

.sitenav-list {
    display: flex;
    gap: 3.3rem;
}

.sitenav-link {
    color: var(--darc-color);
    font-weight: 500;
    font-size: 2rem;
    line-height: 3rem;
    cursor: pointer;
    transition: all 0.5s;
}

.sitenav-link: hover {
    color: #ff6464;
}

.nav-hide-show {
    display: none;
}

.nav-bar {
    display: none;
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 7rem;
    padding-top: 10rem;
}

.main-info h1 {
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 6rem;
    margin-bottom: 4rem;
    max-width: 506px;
}

.main-info p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    max-width: 497px;
    margin-bottom: 4.7rem;
}

.main-info a {
    background-color: #db1616;
    color: rgba(255, 255, 255, 1);
    padding: 19px 21px;
    border-radius: 5px;
    transition: all 0.5s;
    display: inline-block;
}

.main-info a:hover {
    background-color: #622d2d;
}

.resent-main {
    background-color: rgba(237, 247, 250, 1);
}

.resent-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.2rem 0 2.7rem 0;
}

.resent-header a {
    color: rgba(0, 168, 204, 1);
}

.resent-header h4 {
    line-height: 6rem;
    font-size: 2.2rem;
}

.resent-main1 {
    gap: 2rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3.2rem;
}

.resent-main1 .main-img img {
    width: 243px;
    height: 243px;
    transition: var(--transition);
}

.main-container .main-img img:hover {
    transform: rotate(15deg);
    filter: contrast(150%);
}

.resent-block {
    padding: 2.4rem;
    background-color: rgba(255, 255, 255, 1);
}

.resent-block h3 {
    max-width: 374px;
    line-height: 3.8rem;
    font-size: 2.6rem;
    font-weight: 700;
}

.date {
    font-size: 1.8rem;
    line-height: 2.6rem;
    margin-right: 1rem;
}

.profession {
    border-left: 1px solid rgba(0, 0, 0, 1);
}

.dashboards {
    display: flex;
    padding: 3rem 0 3rem 0;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.dashboard-info {
    margin: 0 10px;
}

.dashboards-img {
    width: 246px;
    height: 180px;
}

.dashboards-span {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin: 1.2rem 0 2.2rem 0;
}

.dashboard-year {
    background-color: rgba(20, 40, 80, 1);
    color: aliceblue;
    line-height: 2.4rem;
    font-size: 1.8rem;
    font-weight: 900;
    padding: 3px 5px;
    border-radius: 16px;
}

.container-features h4 {
    font-size: 2.2rem;
    line-height: 6rem;
    margin-top: 1.5rem;
}

.dashboard-gray {
    color: rgba(134, 149, 164, 1);
}

.container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5.1rem 0 5.4rem 0;
}

.container-footer p {
    font-size: 1.4rem;
    line-height: 2.1rem;
    margin-top: 2.6rem;
}

.logo {
    display: flex;
    gap: 3.5rem;
}

@media screen and(max-width:1200px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and(max-width:992px) {
    .main-container .main-info {
        width: 400px;
    }
    .main-container {
        padding-top: 7rem;
    }
    .resert-container,
    .container-features,
    .container-footer {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and(max-width:768px) {
    .sitenav-link {
        font-size: 1.6rem;
    }
    .main-container {
        padding-top: 3rem;
    }
    .main-container {
        gap: 1.5rem;
    }
    .main-info h1 {
        font-size: 3.2rem;
        line-height: 4rem;
        margin-bottom: 2rem;
    }
    .main-container.main-info {
        width: 320px;
    }
    .main-info a {
        font-size: 2rem;
    }
}

@media screen and(max-width:576px) {
    .sitenav-link {
        display: none;
    }
    .nav-bar {
        display: block;
    }
    #nav-hide-show:checked+.sitenav-list {
        display: block;
    }
    .sitenav {
        position: relative;
    }
    .sitenav-list {
        background-color: rgba(237, 247, 250, 1);
        flex-direction: column;
        position: absolute;
        width: 50vw;
        top: 1.5rem;
        height: 100vh;
        text-align: center;
        padding-top: 2rem;
        transition: all 0.5s;
    }
    .main-container {
        flex-direction: column-reverse;
        text-align: center;
        padding-top: 2rem;
    }
    .main-container img {
        width: 180px;
    }
    .resent-header a {
        font-size: 1.8rem;
        display: none;
    }
    .resent-header {
        align-items: center;
    }
    .resent-container .resent-main1 {
        flex-direction: column;
    }
    .resent-block h3 {
        font-size: 2.2rem;
        line-height: 3rem;
        width: 327px;
    }
    .resent-block p {
        width: 314px;
    }
    .date {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
    .profession {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
    .dashboards {
        flex-direction: column;
    }
}